@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Muli');

.list {
    font-family: 'Muli', sans-serif;
    text-align: left;
    font-size: 15px;
}

.content {
    padding: 10px;
    overflow: hidden;
    background-color: rgb(229,212,211);
    border-radius: 5px;
}