@import url('https://fonts.googleapis.com/css?family=Muli|Ubuntu');

#logo {
    padding: 8%;
    width: 300px;
  }

.login {
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    width: 150px;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
}

#facebook {
    background: rgb(59,89,152);
}

#google {
    background: rgb(219,68,55);
}

#meetup {
    background: rgb(237,28,64);
}

.events {
    font-size: 30px;
    text-align: center;
    width: 90%;
    height: 35vh;
    margin: 5%;
    border-radius: 8px;
}